In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/kakashi/Data Analysis Playground/data_analysis_playground/Population & Murder Rate - Sheet1.csv")

In [3]:
df

   sr no       State   Population  Murder rate
0      1      Alabama   4,779,736          5.7
1      2       Alaska     710,231          5.6
2      3      Arizona   6,392,017          4.7
3      4     Arkansas   2,915,918          5.6
4      5   California  37,253,956          4.4
5      6     Colorado   5,029,196          2.8
6      7  Connecticut   3,574,097          2.4
7      8     Delaware     897,934          5.8

In [5]:
df['Population'] = df['Population'].str.replace(',','').astype(int)

In [6]:
df

   sr no       State   Population  Murder rate
0      1      Alabama     4779736          5.7
1      2       Alaska      710231          5.6
2      3      Arizona     6392017          4.7
3      4     Arkansas     2915918          5.6
4      5   California    37253956          4.4
5      6     Colorado     5029196          2.8
6      7  Connecticut     3574097          2.4
7      8     Delaware      897934          5.8

In [8]:
df.rename(columns={'Murder rate': 'murder_rate'}, inplace=True)

In [10]:
df.rename(columns={'Population':'population'},inplace=True)

In [11]:
df

   sr no       State   population  murder_rate
0      1      Alabama     4779736          5.7
1      2       Alaska      710231          5.6
2      3      Arizona     6392017          4.7
3      4     Arkansas     2915918          5.6
4      5   California    37253956          4.4
5      6     Colorado     5029196          2.8
6      7  Connecticut     3574097          2.4
7      8     Delaware      897934          5.8

In [13]:
df['population'].describe()

count    8.000000e+00
mean     7.694136e+06
std      1.210575e+07
min      7.102310e+05
25%      2.411422e+06
50%      4.176916e+06
75%      5.369901e+06
max      3.725396e+07
Name: population, dtype: float64

In [14]:
df['population'].std()

12105745.29585633

In [15]:
df['population'].mean()

7694135.625

In [21]:
max_threshold, min_threshold = df['population'].quantile(0.999), df['population'].quantile(0.001)

In [22]:
max_threshold, min_threshold

(37037922.42700001, 711544.921)

In [23]:
df[df['population']>max_threshold]

   sr no      State   population  murder_rate
4      5  California    37253956          4.4

In [24]:
df[df['population']<min_threshold]

   sr no  State   population  murder_rate
1      2  Alaska      710231          5.6

In [27]:
df_without_outliers = df[(df['population']>min_threshold)&(df['population']<max_threshold)]

# IQR

In [26]:
df['population'].quantile(0.75) - df['population'].quantile(0.25)

2958479.25

In [ ]:
df.describe

In [28]:
df_without_outliers.describe()

          sr no    population  murder_rate
count  6.000000  6.000000e+00     6.000000
mean   4.833333  3.931483e+06     4.500000
std    2.639444  1.915215e+06     1.528398
min    1.000000  8.979340e+05     2.400000
25%    3.250000  3.080463e+06     3.275000
50%    5.000000  4.176916e+06     5.150000
75%    6.750000  4.966831e+06     5.675000
max    8.000000  6.392017e+06     5.800000